
// Apollo Footer 

.footer {
    padding-top: 20px;
    background: $grey-darker;
    color: $text-light;
    p, div,
    h1, h2, h3, h4 {
        color: $grey-light;
    }
    &.light {
        background: $grey-light;
        color: $text-light;
        p, div,
        h1, h2, h3, h4 {
            color: $grey-darker;
        }
    }
}
