/* Extend Bootstrap forms, adjustment corners and colors */
.form-control {
    box-shadow: none;
    border-radius: 0;
}

.input-group-addon {
    border-radius: 0;
    color: $text-dark;
    background: $white;
}

/* Extend Bootstrap alert, removes the round corners. */
.alert {
    border-radius: 0;
}

/* Extend Bootstrap label, style used in the Release notes. */
span.label {
    font-size: 11px;
    font-weight: 400;
    padding: 4px 7px;
    border-radius: 0;
}

/* Special badge used for indicating the current user */
span.badge-user {
    color: $text-light;
    background: $text-dark;
    font-family: $font-content;
    font-weight: 400;
    font-size: 12px;
    padding: 3px 7px;
    top: -9px;
    left: 4px;
    position: relative;
    border-radius: 4px; 
}

/*  "Back to top" icon on the lower right of display. */
#topcontrol {
  color: $text-light;
  background: $text-dark;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}

#topcontrol:hover {
  background-color: $main-theme;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#topcontrol:after {
  top: -2px;
  left: 8.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}

/* Font Awesome Icon Styles */
i.icon-detail {
    color: $main-theme;
    width: 35px;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    border: solid 1px $main-theme;
}

i.icon-box {
    width: 60px;
    height: 60px;
    font-size: 32px;
    line-height: 60px;
    margin-bottom: 10px;
}
