
/* Variables
------------------------------------*/

$nav-theme:         $main-theme !default;   // used for 1st level text and big colored border above / below menus
$nav-text:          $gray-darker !default;  // standard text color of the nav menu entries
$nav-text-hover:    $nav-theme !default;    // hover text color of the nav menu entries
$nav-bg:            $white !default;        // standard background of the nav menu entries
$nav-bg-hover:      $grey-light !default;   // hover background of the nav menu entries
$nav-active:        $nav-text !default;     // the currently active / selected nav entry (text)
$nav-active-bg:     $grey-light !default;   // the currently active / selected nav entry (background)
$nav-border:        $grey-light !default;         // the border color for the navigation

$nav-header-bg:     $nav-bg !default;       // background of the main header
$nav-beadcrump-bg:  $grey-lighter !default; // background of the breadcrumps

$nav-toggle:        $nav-theme !default;    // colors for the "nav-toggle" 
$nav-toggle-text:   $white !default;        // this is the button displayed on small screens to 
$nav-toggle-hover:  $blue !default;         // show / hide the navigation

$nav-shadow:        $dropshadow !default;   // The shadow effect used

/* The Apollo header
------------------------------------*/

.ap-header {
    z-index: 99;
    background: $nav-header-bg;
    position: relative;

    .navbar-collapse {
        position: relative;
        border-top: 0;
    }

    @media (max-width: $screen-sm-max) {
        .navbar-header {
            float: none;
        }

        .navbar-collapse {
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;
            
            .container {
                padding-left: 0;
                padding-right: 0;
            }

            &.collapse {
                display: none !important;
            }

            &.collapse.in {
                display: block !important;
                overflow-y: auto !important;
            }
        }
    }


/* Head background container
------------------------------------*/

    .head-container {
        @media (max-width: $screen-sm-max) {
            // remove the margins from the row for small screens
            // this way the head becomes the same size as the navbar, 
            // which also has the margins removed.
            .col-xs-12,
            .row {
                margin-left: 0;
                margin-right: 0;
            }

            .col-xs-12,
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }


/* Head navbar container, the nav will be pulled over the head container / content
------------------------------------*/

    .head-navbar {
        border-bottom: solid 2px $nav-border;
        pointer-events: none;

        @media (min-width: $screen-md-min) {
            // pull the nav above the head by default
            margin-top: -40px;
        }
    }

    .head-inline {

    }

    .head-nopull {
        // optional css wrapper to prevent pulling the nav above the head-bg
        @media (min-width: $screen-md-min) {
            .head-navbar {
                margin-top: 0;
            }
        }
    }

    .editor {
        .head-inline,
        .head-navbar {
            // used by head navigation formatter in the model group editor
            border-top: solid 1px $nav-border;
            margin-top: 0px;
        }
    }


/* The button used to show / hide the nav on small screens
------------------------------------*/

    .navbar-toggle {

        @media (min-width: $screen-md-min) {
            display: none;
        }

        @media (max-width: $screen-sm-max) {
            margin: -40px 0 6px 0;
            display: block;
        }

        .fa {
            font-size: 28px;
        }

        @media (max-width: round($screen-sm-max /2)) {
            // on very small screens use a smaller button
            // otherwise the button quickly becomes larger than the head itself
            margin: -30px 0 6px 0;
            .fa {
                font-size: 14px;
            }
        }

        border: none;
        border-radius: 0;
        background:  $nav-toggle;
        padding: 2px 8px 2px 8px;
        color: $nav-toggle-text;
        z-index: 100;
        position: relative;
        float: right;

        &:hover {
            background:  $nav-toggle-hover;
        }
    }


/* Responsive navbar
------------------------------------*/

.navbar-nav {
    pointer-events: all;

    > .active > a {
        // the top level menu entry that belongs to the currently opened page
        color: $nav-theme;
        border-bottom-color: $nav-theme;

        &:hover {
            color: $nav-text-hover;
        }
    }

    // top level nav elements 
    > li {
        transition: all 1s;

        &:hover > a {
            color: $nav-text-hover;
            border-bottom-color: $nav-theme;
        }

        > a {
            color:  $nav-text;
            background: none;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 400;
            position: relative;
            bottom: -2px;
            border-bottom: solid 2px transparent;
            padding: 9px 20px 9px 20px;
        }

        > .search {
            color: $nav-text;
            background: none;
            cursor: pointer;
            font-size: 15px;
            min-width: 35px;
            text-align: center;
            display: inline-block;
            position: relative;
            bottom: -2px;
            border-bottom: solid 2px transparent;
            padding: 11px 0 12px;

            &:focus,
            &:hover {
                color: $nav-text-hover;
                border-bottom-color: $nav-theme;
            }
        }
    }

    @media (min-width: $screen-md-min) {
        float: right;

        li.dropdown:hover > .dropdown-menu {
            // this displays the submenus on hover
            display: block;
        } 
        > .dropdown .dropdown-menu {
            border-top: solid 2px $nav-theme;
            border-bottom: solid 2px $nav-theme;

            > li {
                &:last-child > a {
                    // remove the border of the last list element 
                    border-bottom: none;
                }
            }
        }
        .open > .dropdown-menu {
            // change this to "block" in oder to activate clickable submenues
            display: none;
        }

        .open > a {
            color: $nav-text-hover;
            background-color: transparent;
            border-color: transparent;
        }
        .open > a:hover {
            color: $nav-theme;
        }
    }

    @media (max-width: $screen-sm-max) {
        margin: 0;
        float: none !important;

        > .dropdown {
             // we need a padding of one on the first elements in the small screen, 
             // otherwise there will be a scrollbar with 2px right
            padding: 0 1px 0 0;
        }

        > .dropdown .dropdown-menu {
            // downslide transition effect
            -webkit-transition: all 3s;
            transition: all 0.5s ease-in-out;

            max-height: 0;
            display: block;
            overflow: hidden;
        }

        > .dropdown.open .dropdown-menu {
            // downslide transition effect
            max-height: 5000px;
        }

        .open > a,
        .open > a:hover {
            color: $nav-text;
            border-color: $nav-border;
        }

        > li.dropdown.open {
            &:nth-last-child(2) > a,
            &:last-child > a {
                // add the border of the last 2 list elements if open
                border-bottom: 1px solid $nav-border;
            }
        }

        > .active > a {
            // the top level menu entry that belongs to the currently opened page
            color: $nav-bg;
            background:  $nav-theme;
            border-color: $nav-border;

            &:hover {
                color: $nav-text-hover;
                background:  $nav-bg-hover;
                border-color: $nav-bg-hover;
            }
        }

        > li {
            float: none; // required to overwrite bootstrap default

            > a {
                background: $nav-bg;
                font-size: 14px;
                padding: 9px 10px;
                bottom: 0px;
                border-bottom: solid 1px $nav-border;
            }

            &:hover > a {
                color: $nav-text-hover;
                background:  $nav-bg-hover;
                border-bottom: solid 1px $nav-border;
            }

            &:nth-last-child(2) > a,
            &:last-child > a {
                // remove the border of the last 2 list elements 
                // there is a border for the navbar below
                // the last element is the search hidden in small screens
                border-bottom: none;
            }
        }

        #searchContentHeader,
        #searchButtonHeader {
            // hide the search function on the small screen version
            display: none;
        }
    }

    #searchContentHeader > span > button {
        // improve some spacing on the search button
        padding-top: 6px;
        padding-bottom: 6px;
    }

    @media (min-width: $screen-sm-min){
        .form-inline .input-group .form-control {
            width: auto;
        }
    }

    .search-open {
        // css for open search box-shadow
        // must stay in the css structure here - javascript apparently expects this
        right: 0; 
        top: 40px; 
        display: none;
        padding: 14px; 
        position: absolute;
        background: $nav-bg; 
        border-top: solid 2px $nav-theme;
        border-bottom: solid 2px $nav-theme;
        z-index: 100;
        -webkit-box-shadow: 0 6px 12px $nav-shadow;
        box-shadow: 0 6px 12px $nav-shadow;

        form {
            margin: 0;  
        }
    }

}


/* Dropdown menus
------------------------------------*/

.dropdown-menu {
    border: none;
    padding: 0; // see special padding required on first level above
    border-radius: 0;

    > li {
        > a {
            border-bottom: 1px solid $nav-border;
            background-color: $nav-bg;
            color: $nav-text;
            padding: 5px 25px;

            &:focus,
            &:hover {
                background-color: $nav-bg-hover;
                color: $nav-text-hover;
            }
        }

        &.focus > a,
        &.active > a {
            background-color: $nav-active-bg;
            color: $nav-active;

            &:focus,
            &:hover {
                color: $nav-text-hover;
            }
        }
    }

    .dropdown-submenu { 
        position: relative; 

        > .dropdown-menu {
            top: 3px; 
            left: 100%; 
            margin-top: -5px; 
            margin-left: 0px; 
        }

        &:hover > .dropdown-menu {
            // this displays the sub menus on hover
            display: block;
        }
    }

    // add caret labels to menus that have submenus
    .dropdown > a:after,
    .dropdown-submenu > a:after {
        top: 8px;
        right: 9px;
        font-size: 11px;
        content: "\f105";
        position: absolute;
        font-weight: normal;
        display: inline-block;
        font-family: FontAwesome;
    }
    .dropdown > a:after {
        top: 9px;
        right: 15px;
        content: "\f107";
    }

    @media (min-width: $screen-md-min) {
        min-width: 200px;
        z-index: 9999 !important;

        li a {
            font-size: 13px;
            font-weight: 400;
            padding: 6px 15px;
        }

        > li a {
            border-bottom: solid 1px $nav-border;
        }

        -webkit-box-shadow: 0 6px 12px $nav-shadow;
        box-shadow: 0 6px 12px $nav-shadow;
    }

    @media (max-width: $screen-sm-max) {
        position: static;
        box-shadow: none;
        float: none;
        width: auto;

        .open {
            // this displays the menu if clicked
            display: block;
        }

        .dropdown-submenu {

            > .dropdown-menu {
                display: block; // always display the submenus on the small screens
                margin-top: 0px;
                margin-left: 15px;
                border-left: 0;
                border-right: 0;
            }

            // this overwrites a bootstrap default
            > a:after {
                content: "\f107";
            }
        }

        &.pull-right {
            float: none !important;
        }
    }
}




}
// end of ap-header



/* Megamenu
------------------------------------*/

#megamenu-editor {
    .container {
        .ap-header .mega-menu .container {
            width: inherit;
        }
    
        padding: 0;
    }

    .dropdown .dropdown-menu {
        // we need to reverse any effect set by the default menu
        // for example the max-height transition effect set above
        max-height: none;
        display: block;
        overflow: visible;
    }
}

.mega-menu {
    
    .dropdown {
        position: static;
    }

    .container {
        position: relative;
    }

    .dropdown-menu {
        left: auto;
    }

    .dropdown-megamenu .ap-sec {
        // remove the default bottom margin for apollo sections in mega-menu
        margin-bottom: 0;
    }

    @media (min-width: $screen-md-min) {
        div.dropdown-menu {
            width: 100%;
            position: absolute;
            left: 0;
        }

        .dropdown-megamenu {
            padding: 15px;
        }
    }

    .ap-linksequence-boxed {
        // special nav like formatting for link sequence in mega menu
        li > a {
            border: 1px solid $nav-border;
            border-top: none;
            background-color: $nav-bg;
            color: $nav-text;
            padding: 5px 25px;
            margin: 0;

            &:focus,
            &:hover {
                background-color: $nav-bg-hover;
                color: $nav-text-hover;
            }
        }

        li:first-child > a {
            border-top: 1px solid $nav-border;
        }

        @media (max-width: $screen-md-min) {
            li > a {
                border-right: none;
                border-left: none;
            }
        }
    }
}


/* Breadcrumbs
------------------------------------*/

.breadcrumbs {
    overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px $nav-border;
    background: $nav-beadcrump-bg;

    h1 {
      color: $nav-text;
      font-size: 22px;
      margin-top: 8px;
    }

    .breadcrumb {
        top: 10px;
        padding-right: 0;
        background: none;
        position: relative;
        a {
            color: $nav-text;
        }
        li {
            &.active, 
            a:hover {
                color: $nav-text-hover;
                text-decoration: none;
            }
        }
    }

    .badge-user {
        // Special badge used for indicating the current user */
        color: $nav-bg;
        background: $nav-text;
        font-family: $font-content;
        font-weight: 400;
        font-size: 12px;
        padding: 3px 7px;
        top: -9px;
        left: 4px;
        position: relative;
        border-radius: 4px; 
    }

    @media (max-width: $screen-sm-max) {
        // Hide breadcrumps on small screens
        .breadcrumb {
            display: none;
        }
    }

    @media (max-width: round($screen-md-min / 2)) {
        // Headline is centered on very small screens
        h1.pull-left, 
        ul.pull-right {
            width: 100%;
            text-align: center;
        }

        h1.pull-left {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}


/* "Back to top" icon on the lower right of display.
------------------------------------*/

#topcontrol {
  color: $text-light;
  background: $text-dark;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}

#topcontrol:hover {
  background-color: $main-theme;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#topcontrol:after {
  top: -2px;
  left: 8.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}


/* Sidebar navigation
------------------------------------*/

.ap-sidebar-nav {
    margin-bottom: 20px;
}

.sidebar-nav {
    border: 1px solid $nav-border;

    > li.active,
    > li {
        &:first-child {
            // remove top border from the very first element
            border-top: none;
        }
    }

    li.active,
    li {
        background: $nav-bg;
        border-top: 1px solid $nav-border;
        border-bottom: none; // remove all boostrap default borders
        border-left: none;   // remove all boostrap default borders
        border-right: none;  // remove all boostrap default borders
        margin-bottom: 0;    // remove boostrap default margin
        font-size: 13px;
        padding: 0;

        a {
            color: $nav-text;
            display: block;
            padding: 6px 20px 6px 10px;

            &:focus {
                color: $nav-text;
            }

            &:hover {
                color: $nav-text-hover;
                background: $nav-bg-hover;
                text-decoration: none;
            }
        }

        ul {
            padding: 0;
            list-style: none;

            li.active,
            li {
                border: none;
                border-top: 1px solid $nav-border;
            }
        }

        &:first-child,
        &:last-child{
            border-radius: 0;
        }


        > ul {
            // add padding for 2nd level
            li.active a,
            li a {
                padding-left: 20px;
            }
        }

        > ul > li.list-group-item > ul {
            // add padding for 3rd level
            li.active a,
            li a {
                padding-left: 40px;
            }
        }

        > ul > li.list-group-item > ul > li.list-group-item > ul {
            // add padding for 4th level
            li.active a,
            li a {
                padding-left: 60px;
            }
        }
    }

    li.active {
        // override boostrap default highlighting
        &:hover {
            border-color: $nav-border;
            background: $nav-bg;
        }
    }

    li.currentpage {
        // highlight the current page
        background: $nav-active-bg;
         
        &:hover {
            border-color: $nav-border;
            background: $nav-bg-hover;
        }
    }

    .list-toggle {

        &:after {
            top: 7px;
            right: 10px;
            color: $nav-text;
            font-size: 14px;
            content: "\f105";
            position: absolute;
            font-weight: normal;
            display: inline-block;
            font-family: FontAwesome;
            pointer-events: none;
        }

        &.active:after {
            pointer-events: none;
            color: $nav-text;
            content: "\f107";
        }
    }

    @media (max-width: $screen-xs-max) {
        // remove bootstap gutter on small screens
        // we expect to be in "fill width" mode here 
        margin-left: -15px;
        margin-right: -15px;
        border-left: none;
        border-right: none;
    }
}

