
/* Variables
------------------------------------*/

$nav-theme:          $main-theme !default; // used for 1st level text and big colored border above / below menus
$nav-text:           $gray-darker !default; // standard text color of the nav menu entries
$nav-text-hover:     $nav-theme !default; // hover text color of the nav menu entries
$nav-bg:             $white !default; // standard background of the nav menu entries
$nav-bg-hover:       $grey-light !default;  // hover background of the nav menu entries
$nav-active:         $nav-text !default; // the currently active / selected nav entry (text)
$nav-active-bg:      $grey-light !default; // the currently active / selected nav entry (background)
$nav-border:         $grey !default;

// colors for the "nav-toggle" 
// this is the button displayed on small screens to show / hide the navigation
$nav-toggle:         $nav-theme !default;
$nav-toggle-text:    $white !default;
$nav-toggle-hover:   $blue !default;




$nav-active-color: $orange !default;

$nav-beadcrump-bg: $grey-lighter !default;
$search-bg: $nav-border !default;
 
$nav-main-color-active: $main-theme !default;

$nav-main-bg: $white !default;
$nav-main-color: $main-theme !default;
$nav-main-bg-hover: $white !default;
$nav-main-bg-active: $white !default;
$nav-main-color-active: $main-theme !default;

$nav-left-bg: $white !default;
$nav-left-color: $nav-text !default;
$nav-left-bg-hover: $white !default;
$nav-left-color-hover: $nav-text-hover !default;
$nav-left-bg-active: $nav-text !default;
$nav-left-color-active: $white !default;

$nav-sub-color: $nav-text !default;
$nav-sub-bg-hover: $nav-border !default;
$nav-sub-color-hover: $nav-text-hover !default;
$nav-sub-bg-active: $nav-border !default;
$nav-sub-color-active: $nav-text !default;


.ap-header {

    z-index: 99;
    background: $white;
    position: relative;

.head-navbar {
    border-bottom: solid 2px $nav-border;

    @media (min-width: 992px) {
        // pull the nav above the head-bg by default
        margin-top: -40px;
    }

    &.editor {
        // used by head navigation formatter in the model group editor
        border-top: solid 1px $nav-border;
        margin-top: 0px;
    }
}

.head-nopull {
    // optional css wrapper to prevent pulling the nav above the head-bg
    @media (min-width: 992px) {
        .head-navbar {
            margin-top: 0;
        }
    }
}

/* navbar-toggle */
.navbar-toggle {

    @media (min-width: 992px) {
        display: none;
    }

    @media (max-width: 991px) {
        margin: -40px 0 6px 0;
        display: block;
    }

    .fa {
        font-size: 28px;
    }

    @media (max-width: 480px) {
        margin: -30px 0 6px 0;
        .fa {
            font-size: 14px;
        }
    }

    border: none;
    border-radius: 0;
    background:  $nav-toggle;
    padding: 2px 8px 2px 8px;
    color: $nav-toggle-text;
    z-index: 100;
    position: relative;
    float: right;

    &:hover {
        background:  $nav-toggle-hover;
    }
}
/* end of navbar-toggle */


.head-bg {
    @media (max-width: 991px) {
    // remove the margins from the row for small screens
    // this way the head becomes the same size as the navbar, 
    // which also has the margins removed.
        .col-xs-12,
        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .col-xs-12,
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

#searchContentHeader > span > button {
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-collapse {
    position: relative;
    border-top: 0;
}

@media (max-width: 991px) {
    
    .navbar-header {
        float: none;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto !important;
    }

    .navbar-collapse {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

/* 
  The basic "navbar" navigation HTML structure looks like this:

  <ul class="navbar-nav">
      <li class="dropdown">

          <a>Top level entry</a>
          <ul class="dropdown-menu">
              <li>
                    <a>Sub menu entry</a>
              </li>
          </ul>

      </li>
  </ul>

*/

.navbar-nav {

    > .active > a {
        // the top level menu entry that belongs to the currently opened page
        color: $nav-theme;
        border-bottom-color: $nav-theme;

        &:hover {
            color: $nav-text-hover;
        }
    }

    // top level nav elements 
    > li {
        transition: all 1s;

        &:hover > a {
            color: $nav-text-hover;
            border-bottom-color: $nav-theme;
        }

        > a {
            color:  $nav-text;
            background: none;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 400;
            position: relative;
            bottom: -2px;
            border-bottom: solid 2px transparent;
            padding: 9px 30px 9px 20px;
        }

        > .search {
            color: $nav-text;
            background: none;
            cursor: pointer;
            font-size: 15px;
            min-width: 35px;
            text-align: center;
            display: inline-block;
            position: relative;
            bottom: -2px;
            border-bottom: solid 2px transparent;
            padding: 11px 0 12px;

            &:focus,
            &:hover {
                color: $nav-text-hover;
                border-bottom-color: $nav-theme;
            }
        }
    }

    @media (min-width: 992px) {
        float: right;

        li.dropdown:hover > .dropdown-menu {
            // this displays the submenus on hover
            display: block;
        } 
        > .dropdown .dropdown-menu {
            border-top: solid 2px $nav-theme;
            border-bottom: solid 2px $nav-theme;

            > li {
                &:last-child > a {
                    // remove the border of the last list element 
                    border-bottom: none;
                }
            }
        }
        .open > .dropdown-menu {
            // change this to "block" in oder to activate clickable submenues
            display: none;
        }

        .open > a {
            color: $nav-text-hover;
            background-color: transparent;
            border-color: transparent;
        }
        .open > a:hover {
            color: $nav-theme;
        }
    }

    @media (max-width: 991px) {
        margin: 0;
        float: none !important;

        > .dropdown {
             // we need a padding of one on the first elements in the small screen, 
             // otherwise there will be a scrollbar with 2px right
            padding: 0 1px 0 0;
        }

        > .dropdown .dropdown-menu {
            // downslide transition effect
            -webkit-transition: all 3s;
            transition: all 0.5s ease-in-out;

            max-height: 0;
            display: block;
            overflow: hidden;
        }

        > .dropdown.open .dropdown-menu {
            // downslide transition effect
            max-height: 5000px;
        }

        .open > a,
        .open > a:hover {
            color: $nav-text;
            border-color: $nav-border;
        }

        > li.dropdown.open {
            &:nth-last-child(2) > a,
            &:last-child > a {
                // add the border of the last 2 list elements if open
                border-bottom: 1px solid $nav-border;
            }
        }

        > .active > a {
            // the top level menu entry that belongs to the currently opened page
            color: $nav-bg;
            background:  $nav-theme;
            border-color: $nav-border;

            &:hover {
                color: $nav-text-hover;
                background:  $nav-bg-hover;
                border-color: $nav-bg-hover;
            }
        }

        > li {
            float: none; // required to overwrite bootstrap default

            > a {
                background: $nav-bg;
                font-size: 14px;
                padding: 9px 10px;
                bottom: 0px;
                border-bottom: solid 1px $nav-border;
            }

            &:hover > a {
                color: $nav-text-hover;
                background:  $nav-bg-hover;
                border-bottom: solid 1px $nav-border;
            }

            &:nth-last-child(2) > a,
            &:last-child > a {
                // remove the border of the last 2 list elements 
                // there is a border for the navbar below
                // the last element is the search hidden in small screens
                border-bottom: none;
            }
        }

        #searchContentHeader,
        #searchButtonHeader {
            // hide the search function on the small screen version
            display: none;
        }
    }


    @media (min-width: 768px){
        .form-inline .input-group .form-control {
            width: auto;
        }
    }

    .search-open {
        // css for open search box-shadow
        // must stay in the css structure here - javascript apparently expects this
        right: 0; 
        top: 40px; 
        display: none;
        padding: 14px; 
        position: absolute;
        background: $nav-bg; 
        border-top: solid 2px $nav-theme;
        border-bottom: solid 2px $nav-theme;
        z-index: 100;

        form {
            margin: 0;  
        }
    }

}
/* end nav */

.dropdown-menu {
    border: none;
    padding: 0; // see special padding required on first level above
    border-radius: 0;

    > li {
        > a {
            border-bottom: 1px solid $nav-border;
            background-color: $nav-bg;
            color: $nav-sub-color;
            padding: 5px 25px;

            &:focus,
            &:hover {
                background-color: $nav-bg-hover;
                color: $nav-text-hover;
            }
        }

        &.focus > a,
        &.active > a {
            background-color: $nav-active-bg;
            color: $nav-active;

            &:focus,
            &:hover {
                color: $nav-sub-color-hover;
            }
        }
    }

    .dropdown-submenu { 
        position: relative; 

        > .dropdown-menu {
            top: 3px; 
            left: 100%; 
            margin-top: -5px; 
            margin-left: 0px; 
        }

        &:hover > .dropdown-menu {
            // this displays the sub menus on hover
            display: block;
        }
    }

    // add caret labels to menus that have submenus
    .dropdown > a:after,
    .dropdown-submenu > a:after {
        top: 8px;
        right: 9px;
        font-size: 11px;
        content: "\f105";
        position: absolute;
        font-weight: normal;
        display: inline-block;
        font-family: FontAwesome;
    }
    .dropdown > a:after {
        top: 9px;
        right: 15px;
        content: "\f107";
    }

    @media (min-width: 992px) {
        min-width: 200px;
        z-index: 9999 !important;

        li a {
            font-size: 13px;
            font-weight: 400;
            padding: 6px 15px;
        }

        > li a {
            border-bottom: solid 1px $nav-border;
        }
    }

    @media (max-width: 991px) {
        position: static;
        box-shadow: none;
        float: none;
        width: auto;

        .open {
            // this displays the menu if clicked
            display: block;
        }

        .dropdown-submenu {

            > .dropdown-menu {
                display: block; // always display the submenus on the small screens
                margin-top: 0px;
                margin-left: 15px;
                border-left: 0;
                border-right: 0;
            }

            // this overwrites a bootstrap default
            > a:after {
                content: "\f107";
            }
        }

        &.pull-right {
            float: none !important;
        }
    }
}


}
// end of ap-header



/* Megamenu
------------------------------------*/

#megamenu-editor {
    .container {
        .ap-header .mega-menu .container {
            width: inherit;
        }
    
        padding: 0;
    }

    .dropdown .dropdown-menu {
        // we need to reverse any effect set by the default menu
        // for example the max-height transition effect set above
        max-height: none;
        display: block;
        overflow: visible;
    }
}

.mega-menu {
    
    .dropdown {
        position: static;
    }

    .container {
        position: relative;
    }

    .dropdown-menu {
        left: auto;
    }

    .dropdown-megamenu .ap-sec {
        // remove the default bottom margin for apollo sections in mega-menu
        margin-bottom: 0;
    }

    @media (min-width: 992px) {
        div.dropdown-menu {
            width: 100%;
            position: absolute;
            left: 0;
        }

        .dropdown-megamenu {
            padding: 15px;
        }
    }

    .ap-linksequence-boxed {
        // special nav like formatting for link sequence in mega menu
        li > a {
            border: 1px solid $nav-border;
            border-top: none;
            background-color: $nav-bg;
            color: $nav-sub-color;
            padding: 5px 25px;
            margin: 0;

            &:focus,
            &:hover {
                background-color: $nav-bg-hover;
                color: $nav-text-hover;
            }
        }

        li:first-child > a {
            border-top: 1px solid $nav-border;
        }

        @media (max-width: 991px) {
            li > a {
                border-right: none;
                border-left: none;
            }
        }
    }
}
















/* Breadcrumb
------------------------------------*/

.breadcrumbs {
  overflow: hidden;
  padding: 10px 0 6px;
  border-bottom: solid 1px $grey-lighter;
  background: $nav-beadcrump-bg;
  h1 {
    color: $nav-text;
    font-size: 22px;
    margin-top: 8px;
  }
}

.breadcrumb {
  top: 10px;
  padding-right: 0;
  background: none;
  position: relative;
  a {
    color: #777;
  }
  li {
    &.active, a:hover {
      color: $main-theme;
      text-decoration: none;
    }
  }
}

@media (max-width: 550px) {
  .breadcrumbs {
    h1.pull-left, ul.pull-right {
      width: 100%;
      text-align: center;
    }
    h1.pull-left {
      margin-bottom: 0;
    }
    .breadcrumb {
      top: 0;
      margin-bottom: 10px;
    }
  }
}







/*Sidebar Menu v1*/

.sidebar-nav-v1 {
  li {
    padding: 0;
    a {
      display: block;
      padding: 8px 30px 8px 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  > li.active {
    background: #717984;
    &:hover {
      background: #717984;
      border-color: #ddd;
    }
    border-color: #ddd;
    &:focus {
      border-color: #ddd;
    }
    > a {
      color: #fff;
    }
  }
}

ul.sidebar-nav-v1 {
    li {
        background-color: $nav-left-bg;
        a, &.list-toggle:after {
          color: $nav-left-color;             
        }
        a, &.active ul a{
        background-color: $nav-left-bg;
        &.active, &:hover{
        background: $nav-left-bg-hover;
        color: $nav-left-color-hover;
        transition: all 0.5s;
        }
        }
        //First level
        a.accordion-toggle, .list-group-item.active{
        background-color: $nav-left-bg-active;
        border: none;
        color: $nav-left-color-active;
        transition: all 0.5s;               
        &:hover{
        background: $nav-left-bg-hover;
        color: $nav-left-color-hover;
        transition: all 0.5s;
        }
        a{
          background: $white;
        }
                
        //Second and further level
        a.accordion-toggle, .active a{
        background-color: $main-theme;
        color: set-text-color($main-theme);                 
        &:hover{
           background-color: $main-theme-hover;
           color: set-text-color($main-theme-hover);
           transition: all 0.5s;
        }                   
        }       
        &.collapsed{
        background-color: $nav-left-bg;
        color: $nav-left-color;
        }
        }       
    }
}

/*Sidebar Sub Navigation*/

.sidebar-nav-v1 li {
  ul {
    padding: 0;
    list-style: none;
    background: #f8f8f8;
  }
  &.active ul a {
    background: #f8f8f8;
  }
  ul a {
    color: #555;
    font-size: 12px;
    border-top: solid 1px #ddd;
    padding: 6px 30px 6px 17px;
  }
}

/* Sidebar Sub Navigation
------------------------------------*/
.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
  color: $main-theme;
}

/*Sidebar List */

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

.list-toggle:after {
    top: 7px;
    right: 10px;
    color: #777;
    font-size: 14px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

.list-toggle.active:after {
  color: #fff;
  content: "\f107";
}
