/*
 * Alkacon Apollo CSS - RED theme
 */

// import the Apollo variables (default colors etc.)
@import '../scss/apollo-variables.scss';

// Main theme colors
$main-theme: #b31b34; // dark red
$main-theme-hover: #ff264a; // light red
$main-theme-complementary: #144382; // dark blue

// Import the other files
@import 'imports';