/* apollo-theme.scss */

/*
 * Based on Unify Version: 1.7
 * Main Color: $main-theme; 
 * Main Hover Color: $main-theme-hover; 
 * Additional color: $main-theme-additional;
 *
 */

// Navigation colors

$nav-text:   #687074 !default; // dark grey 
$nav-bg:     #eee !default;
 
$nav-main-bg: $white !default;
$nav-main-color: $main-theme !default;
$nav-main-bg-hover: $white !default;
$nav-main-color-hover: $main-theme !default;
$nav-main-bg-active: $white !default;
$nav-main-color-active: $main-theme !default;

$nav-sub-divider: $white !default;
$nav-sub-bg: $white !default;
$nav-sub-color: $nav-text !default;
$nav-sub-bg-hover: $nav-bg !default;
$nav-sub-color-hover: $nav-text !default;
$nav-sub-bg-active: $nav-bg !default;
$nav-sub-color-active: $nav-text !default;

$nav-left-bg: $white !default;
$nav-left-color: $nav-text !default;
$nav-left-bg-hover: $white !default;
$nav-left-color-hover:$main-theme !default;
$nav-left-bg-active: $nav-text !default;
$nav-left-color-active: $white !default;

$nav-left-sub-color: $nav-text !default;
$nav-left-sub-color-active: $main-theme !default;
$nav-left-sub-color-hover: $main-theme !default;
$nav-left-sub-bg: $nav-bg !default;

a {
  color: $main-theme;
}
a:focus, 
a:hover, 
a:active {
	color: $main-theme;
}
.color-green {
	color: $main-theme;
}
a.read-more:hover { 
	color:$main-theme; 
}
.linked:hover {
	color:$main-theme;
}

/* Sliders
------------------------------------*/
/* Main Parallax Sldier */
.da-slide h2 i {
	background-color: rgba(52, 152, 219, 0.8);
}

/* Sequence Parallax Sldier */
.sequence-inner {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to($main-theme-additional));
  background: -webkit-linear-gradient(#fff, $main-theme-additional);
  background: -moz-linear-gradient(#fff, $main-theme-additional);
  background: -ms-linear-gradient(#fff, $main-theme-additional);
  background: -o-linear-gradient(#fff, $main-theme-additional);
  background: linear-gradient(#fff, $main-theme-additional)
}
#sequence-theme h2 {
	background: rgba(52, 152, 219, 0.8);
}
#sequence-theme .info p {
	background: rgba(52, 152, 219, 0.8);
}

/* Buttons
------------------------------------*/
.btn-u {
	background: $main-theme;
}
.btn-u:hover, 
.btn-u:focus, 
.btn-u:active, 
.btn-u.active, 
.open .dropdown-toggle.btn-u {
	background: $main-theme-hover;
	color: #fff;
}

/* Buttons Color */
.btn-u-split.dropdown-toggle {
   border-left: solid 1px $main-theme-hover;
}

/* Bordered Buttons */
.btn-u.btn-brd {
  border-color: $main-theme;
}
.btn-u.btn-brd:hover {
  color: $main-theme-hover;
  border-color: $main-theme-hover;
}
.btn-u.btn-brd.btn-brd-hover:hover {
  background: $main-theme-hover;   
}

/* Service
------------------------------------*/
.service .service-icon {
	color:$main-theme;	
}

/* Service Blocks */
.service-alternative .service:hover { 
	background:$main-theme;
} 

/* Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
	color:$main-theme;
}
.thumbnail-style a.btn-more {
	background:$main-theme;
}
.thumbnail-style a.btn-more:hover {
	box-shadow:0 0 0 2px $main-theme-hover;
}

/* Typography
------------------------------------*/
/* Heading */
.headline h2, 
.headline h3, 
.headline h4 {
	border-bottom:2px solid $main-theme;
}

/* Blockquote */
blockquote:hover {
	border-left-color:$main-theme; 
}
.hero {
	border-left-color: $main-theme;
}
blockquote.hero.hero-default {
  background: $main-theme;
}
blockquote.hero.hero-default:hover {
  background: $main-theme-hover;
}

/* Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
	color: $main-theme;
}

/* Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
	color: $main-theme;
}

/* Footer Blog */
.footer .dl-horizontal a:hover {
	color:$main-theme !important;
}

/* Blog Posts
------------------------------------*/
.posts .dl-horizontal a:hover { 
	color:$main-theme; 
}
.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a { 
	color: $main-theme;
	border-color: $main-theme !important;
}

/* Post Comment */
.post-comment h3, 
.blog-item .media h3,
.blog-item .media h4.media-heading span a {
	color: $main-theme;
}

/* Tabs
------------------------------------*/
/* Tabs v1 */
.tab-v1 .nav-tabs { 
	border-bottom: solid 2px $main-theme; 	
}
.tab-v1 .nav-tabs > .active > a, 
.tab-v1 .nav-tabs > .active > a:hover, 
.tab-v1 .nav-tabs > .active > a:focus { 
	background: $main-theme; 
}
.tab-v1 .nav-tabs > li > a:hover { 
	background: $main-theme; 
}

/* Tabs v2 */
.tab-v2 .nav-tabs li.active a {
	border-top: solid 2px $main-theme;
}

/* Tabs v3 */
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
	background: $main-theme;
	border: solid 1px $main-theme-hover;
}

/* Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover { 
	color:$main-theme; 
}
.acc-home .collapse.in { 
	border-bottom:solid 1px $main-theme; 
}

/* Testimonials
------------------------------------*/
.testimonials .testimonial-info {
	color: $main-theme;
}
.testimonials .carousel-arrow i:hover {
	background: $main-theme;
}

/* Info Blocks
------------------------------------*/
.info-blocks:hover i.icon-info-blocks {
	color: $main-theme;
}

/* About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
	color:$main-theme !important;
}

/* Social Icons */
.team ul.team-socail li i:hover {
	background: $main-theme;
}

/* Right Sidebar
------------------------------------*/
/* Right Sidebar */
.who li i,
.who li:hover i, 
.who li:hover a { 
	color:$main-theme; 
}

/* Privacy Page
------------------------------------*/
.privacy a:hover {
	color:$main-theme; 
}

/* Portfolio Page
------------------------------------*/
/* Portfolio v1 */
.view a.info:hover {
	background: $main-theme;
}

/* Portfolio v2 */
.sorting-block .sorting-nav li.active {
	color: $main-theme;
	border-bottom: solid 1px $main-theme;
}
.sorting-block .sorting-grid li a:hover span.sorting-cover {
	background: $main-theme;
}

/* Blog Page
------------------------------------*/
.blog h3 {
	color:$main-theme;
}
.blog li a:hover {
	color:$main-theme;
}

/* Blog Tags */
ul.blog-tags a:hover {
	background: $main-theme;
}
.blog-post-tags ul.blog-tags a:hover {
  background:  $main-theme;
}

/* Blog Photos */
.blog-photos li img:hover {
	box-shadow: 0 0 0 2px $main-theme;
}

/* Blog Latest Tweets */
.blog-twitter .blog-twitter-inner:hover {
	border-color: $main-theme;
	border-top-color: $main-theme;	
}
.blog-twitter .blog-twitter-inner:hover:after {
	border-top-color: $main-theme;	
}
.blog-twitter .blog-twitter-inner a {
	color: $main-theme;
}

/* Blog Item Page
------------------------------------*/
.blog-item h4.media-heading span a {
	color:$main-theme;
}

/* Coming Soon Page
------------------------------------*/
.coming-soon-border {
	border-top: solid 3px $main-theme;
}

/* Search Page
------------------------------------*/
.booking-blocks p a {
	color: $main-theme;
}

/* Icons Page
------------------------------------*/
.icon-page li:hover { 
	color:$main-theme;
}

/* Glyphicons */
.glyphicons-demo a:hover {
	color: $main-theme;
	text-decoration: none;
}

/* Social Icons
------------------------------------*/
.social-icons-v1 i:hover {
  color: #fff;
  background: $main-theme;
}

/* Magazine Page
------------------------------------*/
/* Magazine News */
.magazine-news .by-author strong {
	color: $main-theme;
}

.magazine-news a.read-more {
	color: $main-theme;
}

/* Magazine Mini News */
.magazine-mini-news .post-author strong {
	color: $main-theme;
}
.news-read-more i {
	background: $main-theme;
}

/* Sidebar Features */
.magazine-page h3 a:hover {
	color: $main-theme;
}

/* Page Features
------------------------------------*/
/* Tag Boxes v1 */
.tag-box-v1 {
	border-top: solid 2px $main-theme;
}

/* Tag Boxes v2 */
.tag-box-v2 {
	border-left: solid 2px $main-theme;
}

/* Tag Boxes v7 */
.tag-box-v7 {
	border-bottom: solid 2px $main-theme;
}

/* Font Awesome Icon Page Style */
.fa-icons li:hover { 
  color: $main-theme;
}
.fa-icons li:hover i {
  background: $main-theme; 
}

/* GLYPHICONS Icons Page Style */
.bs-glyphicons li:hover {
  color: $main-theme;
}

/* Pagination */
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  background-color: $main-theme;
  border-color: $main-theme;
}
.pagination li a:hover {
  background: $main-theme-hover;
  border-color: $main-theme-hover;   
}

/* Registration and Login Page v2
------------------------------------*/
.reg-block {
	border-top: solid 2px $main-theme;
}

/*Image Hover
------------------------------------*/
/* Image-hover */
#effect-2 figure .img-hover {
	background: $main-theme;
}

/* Blog Large Page
------------------------------------*/
.blog h2 a:hover {
	color: $main-theme;
}

/* Timeline v1 Page
------------------------------------*/
.timeline-v1 > li > .timeline-badge i:hover {
	color: $main-theme;
}
.timeline-v1 .timeline-footer .likes:hover i {
	color: $main-theme;
}

/* Timeline v2 Page
------------------------------------*/
/* The icons */
.timeline-v2 > li .cbp_tmicon {
	background: $main-theme;
}

/* Progress Bar
------------------------------------*/
.progress-bar-u {
  background: $main-theme;
}

/* Job Inner Page
------------------------------------*/
.job-description .save-job a:hover,
.block-description .save-job a:hover {
	color: $main-theme;
}

.job-description .p-chart .overflow-h li i,
.job-description .p-chart .overflow-h li a,
.block-description .p-chart .overflow-h li i,
.block-description .p-chart .overflow-h li a {
	color: $main-theme;
}

/* Colorful-ul */
.job-description .colorful-ul li a {
	color: $main-theme;
}

/* Search Inner Page
------------------------------------*/
.s-results .related-search a:hover {
	color: $main-theme;
}
.s-results .inner-results h3 a:hover {
	color: $main-theme;
}
.s-results .up-ul li a:hover {
	color: $main-theme;
}
.s-results .down-ul li a {
	color: $main-theme;
}

/* Funny Boxes
------------------------------------*/
.funny-boxes p a {
  color: $main-theme;
}
.funny-boxes .funny-boxes-img li i {
  color: $main-theme;
}
.funny-boxes-colored p, .funny-boxes-colored h2 a, .funny-boxes-colored .funny-boxes-img li, .funny-boxes-colored .funny-boxes-img li i {
  color: #fff;
}

/* Sidebar Sub Navigation
------------------------------------*/
.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
  color: $main-theme;
}

/* Blockquote
------------------------------------*/
blockquote.bq-green {
  border-color: $main-theme;
}
blockquote:hover,
blockquote.text-right:hover {
  border-color: $main-theme;
}
.quote-v1 p::before {
  color: $main-theme;
}

/* Green Left Bordered Funny Box */
.funny-boxes-left-green {
  border-left: solid 2px $main-theme;
}
.funny-boxes-left-green:hover {
  border-left-color: $main-theme;
}

/* Testimonials Default
------------------------------------*/
/* Testimonials */
.testimonials .carousel-arrow i:hover {
  background: $main-theme;
}

/* Testimonials Default */
.testimonials-bg-default .item p {
  background: $main-theme;
}
.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after {
  border-top-color: $main-theme;
}
.testimonials-bg-default .carousel-arrow i {
  background: $main-theme;
}
.testimonials.testimonials-bg-default .carousel-arrow i:hover {
  background: $main-theme-hover;
}

/* Promo Page
------------------------------------*/
/* Promo Box */
.promo-box:hover strong, 
.promo-box:hover strong a {
	color: $main-theme;
}

/* Typography
------------------------------------*/
.dropcap {
	color: $main-theme;
}

.dropcap-bg {
	color: #fff;
	background: $main-theme;
}

/* Breadcrumbs
------------------------------------*/ 
span.label-u,
span.badge-u {
  background: $main-theme;
}

/* Icons
------------------------------------*/
/* Icon Link*/
.link-icon:hover i {
  color: $main-theme;
  border: solid 1px $main-theme;
}

.link-bg-icon:hover i {
  color: $main-theme;
  background: $main-theme !important;
  border-color: $main-theme;
}

/* Icons Background Color
------------------------------------*/ 
i.icon-color-u {
  color: $main-theme;
  border: solid 1px $main-theme;
}
i.icon-bg-u {
  background: $main-theme;
}

/* Line Icon Page
------------------------------------*/
.line-icon-page .item:hover {
	color: $main-theme;
}

/* Colored Content Boxes
------------------------------------*/
.service-block-u {
  background: $main-theme;
}

/* Panels (Portlets)
------------------------------------*/
.panel-u {
	border-color: $main-theme;
}
.panel-u > .panel-heading {
   background: $main-theme;
}

/* Owl Carousel
------------------------------------*/
.owl-btn:hover {
  background: $main-theme;
}

/* Counter
------------------------------------*/
.counters span.counter-icon i {
	background: $main-theme;
}
.counters span.counter-icon i:after {
	border-top: 7px solid $main-theme;
}

/* SKy-Forms
------------------------------------*/
/* Buttons */
.sky-form .button {
	background: $main-theme;
}

/* Rating */
.sky-form .rating input:checked ~ label {
	color: $main-theme;
}

/* Message */
.sky-form .message {
	color: $main-theme;
}
.sky-form .message i {
	border-color: $main-theme;
}

/* Profile
------------------------------------*/
.profile .profile-post:hover span.profile-post-numb {
	color: $main-theme;
}
.profile .date-formats {
	background: $main-theme;
}
.profile .name-location span i,
.profile .name-location span a:hover {
	color: $main-theme;
}
.share-list li i {
	color: $main-theme;
}
.profile .comment-list-v2 li:hover i,
.profile .comment-list li:hover i {
	color: $main-theme;
}
.profile .profile-post.color-one {
	border-color: $main-theme;
}

/* Pricing Page
------------------------------------*/
/* Pricing Head */
.pricing:hover h4 {
	color:$main-theme;
}
.pricing-head h3 {
	background:$main-theme;
	text-shadow: 0 1px 0 $main-theme-hover;	
}
.pricing-head h4 {
	color:#999;
	background:#fcfcfc;
	border-bottom:solid 1px $main-theme-additional;
}
	
/* Pricing Content */
.pricing-content li {
	border-bottom:solid 1px $main-theme-additional;
}
.pricing-content li i {
	color:$main-theme;
}

/* Pricing Extra */
.sticker-left {
	background: $main-theme;
}

/* Pricing Footer */
.pricing-footer a:hover,
.pricing-footer button:hover {
	background:$main-theme-hover;
}

/* Pricing Active */
.price-active h4 {
	color:$main-theme;
}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
	color:$main-theme;
}

/* Mega Pricing Tables 
------------------------------------*/
.pricing-mega-v1 .pricing-head h3,
.pricing-mega-v2 .pricing-head h3,
.pricing-mega-v3 .pricing-head h3 {
	text-shadow: 0 1px 0 $main-theme-hover;
}

/* Pricing Table Mega v1 Version
------------------------------------*/
.pricing-mega-v1 .pricing:hover h4 i {
	color:$main-theme;
}
.pricing-mega-v1 .pricing-content li i {
	color: $main-theme; 
}

/* Pricing Table Colored Background Version
------------------------------------*/
.pricing-bg-colored .pricing:hover {	
	background: $main-theme;
}
.pricing-bg-colored .pricing-head i {
	color:$main-theme;
}
.pricing-bg-colored .pricing-footer .btn-u {
	border: 1px solid #fff;
}
.pricing-bg-colored .pricing-head p {
  border-bottom: 1px solid $main-theme-additional;
}

/* Pricing Table Mega v2 
------------------------------------*/
.pricing-mega-v2 .block:hover .bg-color {
	background: $main-theme;
}
.pricing-mega-v2 .block:hover h3,
.pricing-mega-v2 .block:hover h4, 
.pricing-mega-v2 .block:hover li, 
.pricing-mega-v2 .block:hover li i,
.pricing-mega-v2 .block:hover h4 i {
	background: $main-theme;
}

/* Pricing Table Mega v3 
------------------------------------*/
.pricing-mega-v1 .btn-group .dropdown-menu,
.pricing-mega-v3 .btn-group .dropdown-menu {
	background: $main-theme !important;
}

.pricing-mega-v1 .btn-group .dropdown-menu li a:hover,
.pricing-mega-v3 .btn-group .dropdown-menu li a:hover {
	background: $main-theme-hover;
}

/* Grid Block v2 
------------------------------------*/
.grid-block-v2 li:hover .grid-block-v2-info {
  border-color: $main-theme;
}

/* Testimonials v3 Title 
------------------------------------*/
.testimonials-v3 .testimonials-v3-title p {
  color: $main-theme;
}

.testimonials-v3 .owl-buttons .owl-prev:hover,
.testimonials-v3 .owl-buttons .owl-next:hover {
  background:  $main-theme;
}

/* Content Boxes v4 
------------------------------------*/
.content-boxes-v4 i {
  color: $main-theme;
}

/* Thumbnails v1 
------------------------------------*/
.thumbnails-v1 .read-more {
  color: $main-theme;
}

/* Thumbnails v6 
------------------------------------*/
.testimonials-v6 .testimonials-info:hover {
  border-color: $main-theme;
}

/* Team v1 
------------------------------------*/
.team-v1 li:hover > p:before {
  background:  $main-theme;
}

/* Team v4
------------------------------------*/
.team-v4 .team-social-v4 a:hover {
  color: $main-theme;
}

/* Team v5 & v6 & v7
------------------------------------*/
.team-v5 small,
.team-v6 small,
.team-v7 .team-v7-position {
  color: $main-theme;
}

/* Headliner Center
------------------------------------*/
.headline-center h2:after {
  background:  $main-theme;
}

/* Headliner Left
------------------------------------*/
.headline-left .headline-brd:after {
  background:  $main-theme;
}

/* Portfolio Box
------------------------------------*/
.portfolio-box .portfolio-box-in i {
  background:  $main-theme;
}

/* Flat Background Block v1
------------------------------------*/
.flat-bg-block-v1 .checked-list i {
  color: $main-theme;
}

/* Owl Carousel v5
------------------------------------*/
.owl-carousel-v5 .owl-controls .owl-page.active span,
.owl-carousel-v5 .owl-controls.clickable .owl-page:hover span {
  background:  $main-theme;
}

/* Content Boxes v5
------------------------------------*/
.content-boxes-v5:hover i {
  background:  $main-theme;
}

/* Block Grid v1
------------------------------------*/
.block-grid-v1:hover {
  border-color: $main-theme;
}

/* Block Grid v2
------------------------------------*/
.block-grid-v2 li:hover .block-grid-v2-info {
  border-color: $main-theme;
}

/* Content Boxes v6
------------------------------------*/
.content-boxes-v6:hover i:after {
  border-color: $main-theme;
}
.content-boxes-v6:hover i {
  background:  $main-theme;
}

/* Portfolio Box-v2
------------------------------------*/
.portfolio-box-v2 .portfolio-box-v2-in i {
  background:  rgba(52, 152, 219, 0.8);
}
.portfolio-box-v2 .portfolio-box-v2-in i:hover {
  background:  $main-theme;
}

/* Service Block v1
------------------------------------*/
.service-block-v1 i {
  background:  $main-theme;
}

/* Service Block v4
------------------------------------*/
.service-block-v4 .service-desc i {
  color: $main-theme;
}

/* Service Block v7
------------------------------------*/
.service-block-v7 i {
  background: $main-theme;
}

/* Service Block v8
------------------------------------*/
.service-block-v8 .service-block-desc h3::after {
  background: $main-theme;
}

/* Testimonials bs
------------------------------------*/
.testimonials-bs .carousel-control-v2 i:hover {
  border-color: $main-theme;
  color: $main-theme;
}

/* Fusion Portfolio
------------------------------------*/
.fusion-portfolio #filters-container .cbp-filter-item-active {
  background:  $main-theme;
  border-color: $main-theme;
}

 .fusion-portfolio #filters-container .cbp-filter-item:hover {
  color: $main-theme;
}

.blog_masonry_3col h3 a:hover {
  color: $main-theme;
}

/* Cube Portfolio
------------------------------------*/
.cube-portfolio .cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active, .cube-portfolio .cbp-l-filters-text .cbp-filter-item:hover {
  color: $main-theme;
}
.cube-portfolio .link-captions li i:hover {
	color: #fff;
	background: $main-theme;    
}
.cube-portfolio .cbp-caption-activeWrap.default-transparent-hover {
  background: rgba(52, 152, 219, .9) !important;
}

/* Recent Works
------------------------------------*/
.owl-work-v1 .item a:hover span {
  border-bottom-color: $main-theme;
}

/* Footer Default
------------------------------------*/
.footer-default .footer .dl-horizontal a:hover {
  color: $main-theme !important;
}
.footer-default .footer a {
    color: $main-theme;
}
.footer-default .footer a:hover {
  color: $main-theme-hover;
}
.footer-default .copyright a {
  color: $main-theme;
}
.footer-default .copyright a:hover {
  color: $main-theme-hover;
}

/* Footer v4
------------------------------------*/
.footer-v4 .copyright a {
  color: $main-theme;
}

/* Title v1
------------------------------------*/
.title-v1 h1:after, .title-v1 h2:after {
  background-color: $main-theme;
}

/* Copyright Section
------------------------------------*/
.copyright-section i.back-to-top:hover {
  color: $main-theme;
}

/* Top Control
------------------------------------*/
#topcontrol:hover {
  background-color: $main-theme;
}

/* News Info
------------------------------------*/
.news-v1 .news-v1-info li a:hover {
  color: $main-theme;
}
.news-v1 h3 a:hover {
    color: $main-theme;
}
.news-v2 .news-v2-desc h3 a:hover {
    color: $main-theme !important;
}
.news-v3 .post-shares li span {
  background: $main-theme;
}
.news-v3 .posted-info li a:hover {
  color: $main-theme !important;
}
.news-v3 h2 a:hover {
  color: $main-theme !important;
}

/* Blog Trending
------------------------------------*/
.blog-trending small a:hover {
  color: $main-theme;
}

/* Blog Masonry
------------------------------------*/
.blog_masonry_3col ul.grid-boxes-news li a:hover {
	color: $main-theme;
}

/* List v1
------------------------------------*/
.lists-v1 i {
  background: $main-theme;
}

/* List v2
------------------------------------*/
.lists-v2 i {
  color: $main-theme;
}

/* Process v1
------------------------------------*/
.process-v1 .process-in > li i {
  background: $main-theme;
}

/* Featured Blog
------------------------------------*/
.featured-blog h2::after {
  background: $main-theme;
}
.featured-blog .featured-img i:hover {
  color: #fff;
  background: $main-theme;
}

.rgba-default {
  background-color: rgba(39, 215, 231, 1);
}

/* Blog Latest Posts
------------------------------------*/
.blog-latest-posts h3 a:hover {
	color: $main-theme !important;
}

/* Blog Trending
------------------------------------*/
.blog-trending h3 a:hover {
	color: $main-theme !important;
}

/* Unifiy header colors
------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: $text-headers;
} 




//
// Alkacon Apollo SCSS.
// 
// Modifications and additions to the common styles. 
//

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

/* Animated image.
 -----------------------------------------------------------------------------*/

.thumbnail-style{
    padding: 0;
    &:hover{
        box-shadow: none;
    }
}

/* Buttons that are red should always use "OpenCms red".
----------------------------------------------------------------------------- */

.btn-u-red {
   background: $alkacon-red !important;
}
.btn-u-red:hover {
   background: lighten($alkacon-red, 30%) !important;
}

.service-block-red, i.icon-bg-red {
    background-color: $alkacon-red;
}

/* Carousel caption color.
----------------------------------------------------------------------------- */

.carousel-v1 .carousel-caption {
    padding: 2px 10px 8px 10px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.carousel-caption h3, .carousel-v1 .carousel-caption p {
    color: $white;
    line-height: 1.1;
    margin: 0;
    padding: 6px 0 0 0;
}

.carousel-caption h3 {
    font-size: 20px;
    color: $white;
    line-height: 1.1;
}

.carousel-v1 .carousel-caption p {
    font-size: 15px;
    
}

.ap-carousel .carousel-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 1px 10px;
    z-Index: 2;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    line-height: 11px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.ap-carousel .carousel-copyright span {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ap-carousel .carousel-caption.carousel-caption-copyright {
    bottom: 13px;
}

.list-entry{
    animation-duration: 1s; 
    &:nth-child(2n){
        animation-duration: 2s;
    }
}

/* Footer colors.
----------------------------------------------------------------------------- */

.footer-default .copyright {
    background-color: #dddddd; //$gray;
    border-top: 1px solid #777;
}

.footer-default .copyright p {
    color: #333333; //$text-dark;
}

.footer-default .header {
    border: none;
}

/* Jumbotron headline.
----------------------------------------------------------------------------- */

.jumbotron h1, .jumbotron .h1 {
  line-height: 1.0;
}

/* Login element.
----------------------------------------------------------------------------- */

.reg-page {
    background: none repeat scroll 0 0 $gray-lighter;
    border: 1px solid $gray-light;
    box-shadow: 0 0 3px $gray-light;
    color: $gray-darker;
    margin: 0 auto;
    padding: 30px;
    width: auto;
}
.reg-header {
    border-bottom: 1px solid $gray-light;
    color: $gray-darker;
    margin-bottom: 35px;
    text-align: center;
}
.reg-header h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.reg-page label {
    color: $gray;
}

// Side menu

ul.sidebar-nav-v1 {
     li {
            background-color: $nav-left-bg;
            a, &.list-toggle:after {
                color: $nav-left-color;             
            }
            a, &.active ul a{
                background-color: $nav-left-bg;
                &.active, &:hover{
                    background: $nav-left-bg-hover;
                    color: $nav-left-color-hover;
                    transition: all 0.5s;
                }
            }
            //First level
            a.accordion-toggle, .list-group-item.active{
                background-color: $nav-left-bg-active;
                border: none;
                color: $nav-left-color-active;
                transition: all 0.5s;               
                &:hover{
                    background: $nav-left-bg-hover;
                    color: $nav-left-color-hover;
                    transition: all 0.5s;
                }
                a{
                    background: $white;
                }
                        
                //Second and further level
                a.accordion-toggle, .active a{
                    background-color: $main-theme;
                    color: set-text-color($main-theme);                 
                    &:hover{
                        background-color: $main-theme-hover;
                        color: set-text-color($main-theme-hover);
                        transition: all 0.5s;
                    }                   
                }       
                &.collapsed{
                    background-color: $nav-left-bg;
                    color: $nav-left-color;
                }
            }       
    }
}

/*
 Sitemap.
----------------------------------------------------------------------------- */

.sitemap{
    ul, li{
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 5px;
        background: transparent;
    }
    ul>ul{
        li {
            background: $main-theme;
            padding: 10px;
            color: $text-light;
            font-weight: bold;
            font-size: 1em; 
            line-height: 1;
            &.parent{
                cursor: pointer;    
            }
            a{          
                color: $text-light;
                width: 100%;
                display: block;
                height: 100%;
            }
            span{
                float: left;
            }
            i{
                transform: rotate(-90deg);
                transition: transform 1s;
                float: right;   
                &.open{
                    transform: rotate(0);
                    transition: transform 1s;
                }
            }
        }
        &>ul li {
            padding: 5px 10px;
            margin: 0;
            background: $main-theme-additional;
            color: $text-dark;
            font-weight: normal;
            &:hover{
                background: $main-theme;
                color: $text-light;
                a{
                    color: $text-light;         
                    text-decoration: none;  
                }
            }
            a{          
                color: $text-dark;  
            }           
        }   
    }
}

@each $type-name, $bg-color, $text-color, $highlight-color in $primary-colors {

    .sitemap-#{""+$type-name}{
        ul>ul{
            li {
                background: $bg-color; 
            }
            &>ul li {
                background: lighten($bg-color, 50%);      
            }   
        }
    }    
}

/* Slider (Play/Pause Button, caption, copyright).
----------------------------------------------------------------------------- */

.slider{
    .control{
        margin: -40px 20px;
        position: relative;
        z-index:999;
        opacity: 0;
        transition: opacity 1s;
   }
   &:hover>.control{    
        opacity: 1;
        transition: opacity 1s;
   }
   .caption{
        opacity: 0.7;
        padding: 2px 10px 8px 10px !important;   
        h2,  h3 {
            margin: 0;
            padding: 6px 0 0 0;
            line-height: 1.1;
        }   
        h2 {
            font-size: 20px;
            font-weight: 400;
        }
        h3 {
            font-size: 15px;
            font-weight: 400;
        }
        &.copyright {
            color: $white;
            font-size: 10px !important;
            font-style: italic;
        }
   }
}

.slider.revslider-initialised.tp-simpleresponsive {
    position: relative;
}

/* Service Boxes.
----------------------------------------------------------------------------- */

.service-block a:hover, .service-block-in a:hover {
    text-decoration: none;
}

.service-block-colored {
  transition: all 0.3s ease-in-out 0s;
}

.service-block-colored:hover {
  opacity: 0.8;
}

.service-block-colored.service-block-default:hover {
  box-shadow: 0 0 8px #DDDDDD;
}

.service-block-colored.service-block-default:hover h2, .service-block-colored.service-block-default:hover i {
  color:    #72c02c;
}

/* Paragraphs in service blocks should use default margins */
.tag-box p {
  margin: 0 0 10px;
}

/* Slider additional styles.
----------------------------------------------------------------------------- */

.tp-caption.mediumthickblackbg, .tp-caption.mediumthickgreybg,  .tp-caption.mediumthickwhitebg {
    font-size:36px;
    line-height:36px;
    font-weight:800;
    font-family:"Open Sans";
    text-decoration:none;
    text-shadow:none;
    border-width:0px;
    border-color:rgb(255, 255, 255);
    border-style:none;
    padding: 0 4px;
}

.tp-caption.mediumthickblackbg {
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
}

.tp-caption.mediumthickgreybg {
    color:rgb(255, 255, 255);
    background-color:rgb(128, 128, 128);
}

.tp-caption.blackbgtransparent {
    background-color:rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.5);
    padding:7px;
}

.tp-caption.mediumthickwhitebg {
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
}

#logo-footer{
    @media (max-width: 992px){
        float: none;
    }
    float: right;
}

.caption{
    font-family: "Open Sans" sans-serif !important;
}

/* Social icons.
----------------------------------------------------------------------------- */

.social_slideshare {
    background: url("../img/icons/social/slideshare.png") no-repeat;
}

ul.social-icons{
    li{
        a{
            @media (max-width: 992px){
                width: 48px;
                height:48px;
                background-size: 48px;
                &:hover{
                    background-position: 0 -66px ;                  
                }
            }               
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }   
    }
}

/* Superscript for user name in nav.
----------------------------------------------------------------------------- */

.superscript {
    top: -9px; 
    left: 4px; 
    position: relative
}


