/* apollo-theme.scss */

/* CAN BE REMOVED WHEN DONE WITH SCSS REVISION */

/*
 * Based on Unify Version: 1.7
 * Main Color: $main-theme; 
 * Main Hover Color: $main-theme-hover; 
 * Additional color: $main-theme-additional;
 *
 */

// Navigation colors

$nav-text:   #687074 !default; // dark grey 
$nav-bg:     #eee !default;
 
$nav-main-bg: $white !default;
$nav-main-color: $main-theme !default;
$nav-main-bg-hover: $white !default;
$nav-main-color-hover: $main-theme !default;
$nav-main-bg-active: $white !default;
$nav-main-color-active: $main-theme !default;

$nav-sub-divider: $white !default;
$nav-sub-bg: $white !default;
$nav-sub-color: $nav-text !default;
$nav-sub-bg-hover: $nav-bg !default;
$nav-sub-color-hover: $nav-text !default;
$nav-sub-bg-active: $nav-bg !default;
$nav-sub-color-active: $nav-text !default;

$nav-left-bg: $white !default;
$nav-left-color: $nav-text !default;
$nav-left-bg-hover: $white !default;
$nav-left-color-hover:$main-theme !default;
$nav-left-bg-active: $nav-text !default;
$nav-left-color-active: $white !default;

$nav-left-sub-color: $nav-text !default;
$nav-left-sub-color-active: $main-theme !default;
$nav-left-sub-color-hover: $main-theme !default;
$nav-left-sub-bg: $nav-bg !default;