// NOTE: 
// Sometime soon this should be the "Unify" version of the Apollo variables.

// Import Apollo variables, override here if required

@import '../../org.opencms.apollo.template/scss/apollo-variables.scss';


// Navigation colors
$navigation-text: #687074;
$navigation-border: #EEE;
$navigation-bg: #EEE;


$colors: ((
    'black', $black),(   
    'blue', $blue),(      
    'blue-light', $blue-light),(     
    'blue-lighter', $blue-lighter),(   
    'blue-dark', $blue-dark),( 
//    'blue-darker', $blue-darker),(   
    'blue-cyan', $blue-cyan),(
    'red', $red),(       
    'red-light', $red-light),( 
    'red-lighter', $red-lighter),(     
    'red-dark', $red-dark),(  
//    'red-darker', $red-darker),(
    'red-orange', $red-orange),(       
//    'red-cyan', $red-cyan),(
    'orange', $orange),(    
    'orange-light', $orange-light),(    
//    'orange-lighter', $orange-lighter),(  
    'orange-dark', $orange-dark),(      
//    'orange-darker', $orange-darker),(    
    'cyan', $cyan),(     
    'grey', $gray),(     
    'grey-lighter', $gray-lighter),(      
    'grey-light', $gray-light),(  
    'grey-dark', $gray-dark),( 
    'grey-darker', $gray-darker),(       
    'sea', $sea),(          
    'yellow', $yellow),(
    'violet', $violet),(    
//    'brown', $brown),(   
    'green', $green),(  
    'green-light', $green-light),(
    'white', $white)
);  

$colored-box-variants:
(
 (grey, $gray),       
 (dark, $gray-darker),
 (red, $red),
 (red-light, $red-light),         
 (blue, $blue),
 (blue-light, $blue-light),             
 (blue-dark, $blue-dark),       
 (cyan, $sea),
 (orange, $orange),
);