//
// Alkacon Apollo SCSS.
// 
// Main file - BLUE GOLD theme 
//

/*
 * Alkacon Apollo CSS - BLUE GOLD theme
 *
 * -----------------------------------------------------------------------------
 * 
 * Alkacon Software - The OpenCms experts. 
 *
 * http://www.alkacon.com
 * http://www.opencms.org
 */
 
// import the Apollo variables (colors etc.)
@import 'apollo-variables-unify';

$blue: #0C1E4E;
$blue-light: #20346B;
$blue-lighter: #54669A;

$gold: #BEAA41;
$gold-light: #F0EBCC;
$gold-lighter: #FFF1A7;

// Main theme colors
$main-theme: $blue;
$main-theme-hover: $blue-light;
$main-theme-additional: $blue-lighter;

// Navigation colors

$nav-main-bg: $white;
$nav-main-color: $gold;
$nav-main-bg-hover: $white;
$nav-main-color-hover: $blue;
$nav-main-bg-active: $white;
$nav-main-color-active: $blue;

$nav-sub-divider: $blue-light;
$nav-sub-bg: $blue-light;
$nav-sub-color: $white;
$nav-sub-bg-hover: $blue-lighter;
$nav-sub-color-hover: $white;
$nav-sub-bg-active: $blue-lighter;
$nav-sub-color-active: $white;

$nav-left-bg: $blue-lighter;
$nav-left-color: $white;
$nav-left-bg-hover: $blue;
$nav-left-color-hover:$white;
$nav-left-bg-active: $white;
$nav-left-color-active: $blue;

$nav-left-sub-color: $blue;
$nav-left-sub-color-active: $gold;
$nav-left-sub-color-hover: $gold;
$nav-left-sub-bg: #f5f5f5;

// Import the other files
@import 'imports';

//Special settings for this theme
.header .dropdown-menu{
	border-bottom-color: $blue;
}

