/*
 * Alkacon Apollo CSS - RED theme
 */

// import the Apollo variables (colors etc.)
@import 'apollo-variables';

// Main theme colors
$main-theme: $red;
$main-theme-hover: $red-light;
$main-theme-additional: $red-lighter;

// Import the other files
@import 'imports';