/*
 * Alkacon Apollo CSS - BLUE theme
 */
 
// import the Apollo variables (colors etc.)
@import 'apollo-variables';

// Main theme colors
$main-theme: $blue;
$main-theme-hover: $blue-light;
$main-theme-additional: $blue-lighter;

// Import the other files
@import 'imports';