/**
Button animation effect.
HTML structure:

<div class="ap-button-animation">      <-- Effect trigger box
    <div classs="button-place-box">    <-- Place marker box
        <div class="button-box">       <-- Animated box, should be the only element inside the place box
            ...
        </div>
    </div>
    Other content
</div>
**/
.ap-button-animation {

   // Apply button effect on hover over the trigger box
    &:hover .button-box {
        right: 10px;
    }

    // The button is placed in relation to the place-box
    .button-box {
        right: -10px;
        bottom: 10px;
        position: absolute;
        display: inline-block; 
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    // Marks the position for absolute button placement
    .button-place-box {
        position: relative;       
    }
}


/**
Shadow animation effect.
HTML structure:

<div class="ap-shadow-animation">      <-- Effect trigger box
    <div classs="shadow-box">          <-- Animated box
        ...
    </div>
    Other content
</div>

This effect does two animations at once.
The effect trigger box gets the shadow, and the animated box is shrunk.
**/
.ap-shadow-animation {

    // Apply shadow effect to the surrounding box on hover
    &:hover {
        box-shadow: 0 0 10px 1px $grey-dark; 
    }

    // Reverse the shadow effect on the surrounding box if no hover
    box-shadow: 0 0 0 0 $grey-dark;
    -webkit-transition: box-shadow 0.35s ease-in-out;
    transition: box-shadow 0.35s ease-in-out;

    // Shrink the inner box on hover 
    &:hover .shadow-box {
        -webkit-transform: scale(0.925);
        transform: scale(0.925);
    }

    // Reverse the shrink effect to the inner box if no hover
    .shadow-box {
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
}


/**
Ken Burns animation effect.
HTML structure:

<div class="ap-kenburns-animation">    <-- Effect trigger box
    <div classs="kenburns-limit-box">  <-- Efect limitation box
        <div class="kenburns-bos">     <-- Animated box, should be directly in limitation box
            ...
        </div>
    </div>
    Other content
</div>
**/
.ap-kenburns-animation {

    // Apply the Ken Burn effect to the animated box on hover 
    &:hover .kenburns-box {
       -webkit-transform: scale(1.25) rotate(2deg);
       transform: scale(1.25) rotate(2deg);
    }

    // Reverse all effects to the animated box if no hover
    .kenburns-box {
        -webkit-transition: all 1.0s ease-in-out;
        transition: all 1.0s ease-in-out;
    }

    // Limits the effect to the borders of this box
    .kenburns-limit-box {
        overflow: hidden;
    }
}
