
// Generic CSS selectors that apply to any DIV or similar block element

$bg-colors:       $all-colors !default;
$font-colors:     $primary-colors !default;

$border-default-color:   $main-theme !default;
$border-colors:          $primary-colors !default;
$border-sizes:           (1, 2) !default;
$border-radiuses:        (2, 5, 10) !default;

// color scheme adjustments
@each $color-name, $bg-color, $text-color, $highlight-color in $bg-colors {

    .bg-#{""+$color-name} {
        
        background-color: $bg-color;
        color: $text-color;         
        overflow: hidden;    
        padding: 20px;  
        
        h1, 
        h2, 
        h3, 
        h4, 
        h5, 
        h6,
        p,
        div,
        li,
        .fa {
            color: $text-color;
        }
    
        a {
            color: $text-color;
            text-decoration: underline;
            &.btn,
 			&:hover {
            	text-decoration: none;
            }
        }
        
        .headline{
              border-bottom: 1px dotted $highlight-color;
        }        
    }
    
    .translucent-bg-#{""+$color-name} {
        @extend .bg-#{""+$color-name};
        
        background-color: rgba($bg-color, 0.7);
    }    
}

a.no-underline:hover,
a.no-underline {
	text-decoration: none;
}

$spacers: (0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100, 500, 1000, 2000) !default;

@each $space in $spacers {

    .p-#{$space} {
        padding: #{$space}px;
    }
    .pv-#{$space} {
        padding-top: #{$space}px;
        padding-bottom: #{$space}px;
    }   
    .ph-#{$space} {
        padding-left: #{$space}px;
        padding-right: #{$space}px;
    }
	.pl-#{$space} {
	    padding-left: #{$space}px;
	}
    .pr-#{$space} {
        padding-right: #{$space}px;
    }
    .pt-#{$space} {
        padding-top: #{$space}px;
    }       
    .pb-#{$space} {
        padding-bottom: #{$space}px;
    }    
    .m-#{$space} {
        margin: #{$space}px;
    }  
    .mv-#{$space} {
        margin-top: #{$space}px;
        margin-bottom: #{$space}px;
    }	
    .mh-#{$space} {
        margin-left: #{$space}px;
        margin-right: #{$space}px;
    }   
    .ml-#{$space} {
        margin-left: #{$space}px;
    }
    .mr-#{$space} {
        margin-right: #{$space}px;
    }       
	.mt-#{$space} {
	    margin-top: #{$space}px;
	}    	
    .mb-#{$space} {
        margin-bottom: #{$space}px;
    }
}

$fontsizes: (6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 24, 26, 28, 30, 36, 48, 72) !default;

@each $fontsize in $fontsizes {

    .fs-#{$fontsize} {
        font-size: #{$fontsize}px;
    } 
}

$lineheights: (10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20) !default;

@each $lineheight in $lineheights {

    .lh-#{$lineheight} {
        line-height: #{$lineheight / 10};
    } 
}

@each $align in (left, center, right) {
    .fa-#{$align} {
        text-align: $align;
    }
}

@each $color-name, $bg-color, $text-color, $highlight-color in $font-colors {
    .fc-#{""+$color-name} {
        color: $color-name;
        &.a, p, h2, .fa {
            color: $bg-color;      
        }
    }
}

/**

border-2
border-red // implies: soild
border-dashed
border-left-grey
border-left-solid

**/

$border-positions: (bottom, top, left, right);
$border-styles:   (none, solid, dotted, dashed, hidden);

@each $line-size in $border-sizes {    
    .bo-#{""+$line-size}  {
    
        border: #{""+$line-size}px solid $border-default-color;
        padding: 20px;       
    }        
}

@each $color-name, $bg-color, $text-color, $highlight-color in $border-colors {
    .bo-#{""+$color-name}  {
    
        border-color: $bg-color;      
    }     
}

@each $border-style in $border-styles {

    .bo-#{""+$border-style}  {
        border-style: $border-style;    
    }        
}

@each $position in $border-positions {

	@each $line-size in $border-sizes {    
	    .bo-#{""+$position}-#{""+$line-size}  {
	    
	        border-#{""+$position}: #{""+$line-size}px solid $border-default-color;
	        padding: 20px;       
	    }        
	}  

	@each $color-name, $bg-color, $text-color, $highlight-color in $border-colors {
	    .bo-#{""+$position}-#{""+$color-name}  {
	    
	        border-#{""+$position}-color: $bg-color;      
	    }     
	}
	
	@each $border-style in $border-styles {
	
	    .bo-#{""+$position}-#{""+$border-style}  {
	        border-#{""+$position}-style: $border-style;    
	    }        
	}
}

.disp-i {
    display: inline;
}

.disp-ib {
    display: inline-block;
}

.disp-b {
    display: block;
}