
body > div[class*=wrapper] {
    background-color: transparent;    
}

// thumbnails

a.thumbnail {
    padding: 0;
    border: none;
    margin-bottom: 15px;
}

.thumbnail-style { 
    margin-bottom: 20px; 
    padding: 0;
    &:hover{
        box-shadow: none;
    }
}

// thumbnail effects

.thumbnail-kenburn img {
    left: 10px;
    margin-left: -10px;
    position: relative;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}

.thumbnail-kenburn:hover img {
   -webkit-transform: scale(1.2) rotate(2deg);
   -moz-transform: scale(1.2) rotate(2deg);
   -o-transform: scale(1.2) rotate(2deg);
   -ms-transform: scale(1.2) rotate(2deg);
   transform: scale(1.2) rotate(2deg);
}

// overriding .ap-img margin-bottom
.thumbnail-kenburn .ap-img {
    overflow: hidden;
    margin-bottom: 0;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-fix{  
    // fix for images showing through masks with overflow-hidden during transition.
    // see http://stackoverflow.com/a/27935035
    position: relative;
    z-index: 10;
}