
// Is it grey or gray?
$graey-spelling: grey !default;

// Main colors

$alkacon-red:       #b31b34 !default;
$alkacon-blue:      #144382 !default; // for print this is #003082
$alkacon-orange:    #ffa826 !default; // for print this is #ffb340
$alkacon-grey:      #a8adb4 !default;

$white:             #fff !default;
$black:             #000 !default;

$blue:              $alkacon-blue !default;
$blue-light:        #2197db !default; // handmade looks better
$blue-lighter:      lighten($blue-light, 42%) !default;
$blue-dark:         darken($blue, 10%) !default;
$blue-darker:       darken($blue, 15%) !default;

$red:               $alkacon-red !default;
$red-light:         #ff264a !default; // handmade looks better
$red-lighter:       lighten($red-light, 37%) !default;
$red-dark:          darken($red, 9%) !default;
$red-darker:        darken($red, 21%) !default;

$orange:            $alkacon-orange !default;
$orange-light:      lighten($orange, 15%) !default;
$orange-lighter:    lighten($orange, 30%) !default;
$orange-dark:       darken($orange, 8%) !default;
$orange-darker:     darken($orange, 16%) !default;

$grey:              $alkacon-grey !default;
$grey-lighter:      lighten($grey, 29%) !default;
$grey-light:        lighten($grey, 21%) !default;  
$grey-dark:         darken($grey, 15%) !default;
$grey-darker:       darken($grey, 35%) !default;

$gray:              $grey !default;
$gray-lighter:      $grey-lighter !default;
$gray-light:        $grey-light !default;  
$gray-dark:         $grey-dark !default;
$gray-darker:       $grey-darker !default;

$cyan:              #1bb39a !default; // complementary color
$yellow:            #f1c40f !default;
$sea:               #1abc9c !default;
$green:             mix($orange, $cyan) !default;
$green-light:       lighten($green, 20%) !default;

$blue-cyan:         mix($blue, $cyan) !default;
$violet:            mix($blue, $red) !default;
$brown:             mix($blue, $orange) !default;
$red-orange:        mix($red, $orange) !default;
$red-cyan:          mix($red, $cyan) !default;

// Text colors 
$text-light: #fff !default;
$text-dark: #444 !default;
$text-headers: #555 !default;
$text-paragraphs: #555 !default;

// these are all colors that make sense as highlight color, e.g. in a button background
$primary-colors:
(
 // name                         // bg-color        // text-color    // highlight-color
 (white,                         $white,            $text-dark,     $red-light),
 (#{""+$graey-spelling}-lighter, $grey-lighter,     $text-dark,     $grey-light),
 (#{""+$graey-spelling}-light,   $grey-light,       $text-dark,     $grey-lighter),
 (#{""+$graey-spelling},         $grey,             $text-light,    $grey-light),
 (#{""+$graey-spelling}-dark,    $grey-dark,        $text-light,    $grey),
 (#{""+$graey-spelling}-darker,  $grey-darker,      $text-light,    $grey-dark),
 (blue-light,                    $blue-light,       $text-light,    $blue),
 (blue,                          $blue,             $text-light,    $blue-light),
 (blue-dark,                     $blue-dark,        $text-light,    $blue),
 (blue-darker,                   $blue-darker,      $text-light,    $blue-dark),
 (cyan,                          $cyan,             $text-light,    $blue-cyan),
 (red-light,                     $red-light,        $text-light,    $red),
 (red,                           $red,              $text-light,    $red-light),
 (red-dark,                      $red-dark,         $text-light,    $red),
 (red-darker,                    $red-darker,       $text-light,    $red-dark),
 (orange-light,                  $orange-light,     $text-dark,     $orange),
 (orange,                        $orange,           $text-light,    $red),
 (orange-dark,                   $orange-dark,      $text-light,    $orange),
 (orange-darker,                 $orange-darker,    $text-light,    $orange-dark),
 (blue-cyan,                     $blue-cyan,        $text-light,    $cyan),
) !default; 


// complimentary colors not suitable for highlighting  
$secondary-colors:
(
 (blue-lighter, $blue-lighter, $text-dark,     $blue-light),
 (red-lighter,  $red-lighter,  $text-dark,     $red-light),
 (orange-lighter,$orange-lighter,$text-dark,   $orange-light),
 (violet,       $violet,       $text-light,    $red),
 (brown,        $brown,        $text-light,    $orange),
 (red-orange,   $red-orange,   $text-light,    $orange),
 (red-cyan,     $red-cyan,     $text-light,    $red),          
 (green,        $green,        $text-light,    $orange),          
 (sea,          $sea,          $text-light,    $red-orange),
 (yellow,       $yellow,       $text-light,    $red-orange),
) !default; 

// all colors combined
$all-colors: join($primary-colors, $secondary-colors) !default;     
// $colors:     $all-colors !default;

$border-colors: 
(
 (#{""+$graey-spelling},         $grey,         $text-light,     $grey-light),
 (#{""+$graey-spelling}-light,   $grey-light,   $text-dark,     $grey-lighter), 
 (blue,         $blue,         $text-light,    $blue-light),
 (red,          $red,          $text-light,    $red-light),
 (cyan,         $cyan,         $text-light,    $blue-cyan),
 (orange,       $orange,       $text-light,    $red),
) !default;

// Spaces used for margins and paddings
$spacers:       (0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 40, 50, 75, 100, 500) !default;

// Alert colors
$color-info:        $blue-light !default;
$color-warning:     $orange !default;
$color-success:     $cyan !default;
$color-danger :     $red !default;
$color-primary:     $blue !default;

// Bootstrap screen sizes (minimum)

$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

// Bootstrap screen sizes (maximum)

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;