
/* Event calendar */

.ap-event {

    a.link {
        color: $text-dark;
    }

    a:hover {
        text-decoration: none;
    }

    .date {
        min-width: 90px;
        border: 1px solid $gray-light;
        text-align: center; 
        background: $gray-lighter;

        &:before {
            display: block;
            content: '';
            margin: 0 10%;
            border-top: 20px solid $main-theme;
        }

        .day, 
        .monthYear {
            padding: 10px;
        }

        h3 {
            font-weight: bolder;
            color: $main-theme;
        }
    }

    // Calendar shhets get a slightly different raise effect
    &:hover .animated-box {
        box-shadow: 5px 5px 8px -1px $dropshadow;
    }

    @each $type-name, $bg-color, $text-color, $highlight-color in $primary-colors {

        &.date-#{""+$type-name} {

            .date:before {
                border-top: 20px solid $bg-color;
            }

            h3 {
                color: $bg-color;
            }
        }
    }
}