
// Base style used by all section macro formatters

.ap-sec,
.ap-section {

	margin-bottom: 20px;
}

// Styles for image section variations
// Plain style
.ap-img {

	margin-bottom: 20px;

	.ap-img-pic {
	}
	.ap-img-txt {
		.ap-img-title {
			margin-top: 10px;
		}
		.ap-img-desc {
			margin-top: 5px;
		}			
	}
	
	a {
	
    	color: $text-dark;
    	
		&:hover, &:active, &:focus {
        	color: $text-dark;
        	text-decoration: none;
      	}
      	.ap-img-desc {
			color: $main-theme;
			&:hover, &:active, &:focus {
	        	text-decoration: underline;
	        }
		}
	}	
}
// Image section style "Bold headline, centered"
.ap-img-v1 {
	.ap-img-txt {
		.ap-img-title {
			text-align: center;
			font-weight: 700;
		}
		.ap-img-desc {
			margin-top: 5px;
		}	
	} 
}
