
/* Blog */

.ap-blog {

    margin-bottom: 20px;

    a.link {
        color: $text-dark;
    }

    a:hover {
        text-decoration: none;
    }

    .teaser-body {
        .teaser-date {
            font-style: italic;
        }
    }
}

.ap-blog {

    @each $type-name, $bg-color, $text-color, $highlight-color in $primary-colors {

        &.ap-color-#{""+$type-name} {
            .teaser-head {
                color: $bg-color;
            }
        }
    }
}