$button-colors:          $primary-colors !default;

.ap-list-filterbox {
    margin-bottom: 15px;
    background-color: $white;
    border: 1px solid transparent;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border: 1px solid #ddd;
}

.ap-list-filter-labels-wrapper, .ap-list-filter-archive {
    display: none;
}

.ap-list-filter-labels {
    margin-top: 0;
    padding-left: 0;
    list-style: outside none none;
}

.ap-list-filter-labels li.active a {
    font-weight: bold;
} 

.ap-list-filter-labels-wrapper hr {
    margin: 20px 0 10px 0;
}

.ap-list-filterbtn-year {
    margin-top: 15px;
}

.ap-list-filter-year {
    margin-top: 10px;
    margin-left: -5px;
    padding-left: 0;
    list-style: outside none none;
}

.ap-list-filter-year > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
}

.ap-list-filter-year li.active a {
    font-weight: bold;
} 

// compact list items
.ap-compact {
    
    color: $text-dark;
    
    &.ap-teaser {
        margin-bottom: 10px;
    }

    .teaser-date {
        font-style: italic;
    }

    .teaser-head {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .teaser-text {
        margin-bottom: 5px;
    }

    .btn.teaser-btn {
        font-size: 12px;
        padding: round($btn-padding * 0.25) round($btn-padding * 1.25);
        min-width: 0;
    }

    a:hover {
        color: $main-theme-hover;
        text-decoration: none;
    }
}

/** Removable
.list-entry{
    animation-duration: 1s; 
    &:nth-child(2n){
        animation-duration: 2s;
    }
} **/

// pagaination element default styling



/*Navigation
------------------------------------*/ 

/*Pegination*/
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}

/* Pagination */
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  background-color: $main-theme;
  border-color: $main-theme;
}

.pagination li a {
  color: #777;
  padding: 5px 15px;
}

.pagination li a:hover {
  color: $white;
  background: $main-theme-hover;
  border-color: $main-theme-hover;   
}

// coloring of teaser elements, shared also with event and other list formatters 
@each $type-name, $bg-color, $text-color, $highlight-color in $primary-colors {

    .color-#{""+$type-name} {

        // teaser headlines
        h3.teaser-head,
        .teaser-head {
            color: $bg-color;
        }

        a {
            color: $bg-color;
        }

        .ap-teaser a:hover,
        a:hover {
            color: $highlight-color;
            text-decoration: none;
        }

        // pagaination element
        .pagination {
            & > .active {
                > a, > span, > a:hover, 
                > span:hover, > a:focus, > span:focus {
                  background-color: $bg-color;
                  border-color: $bg-color;
                }
            }
            
            li a:hover {
                background: $highlight-color;
                border-color: $highlight-color;   
            }
            
            & > button {
                background-color: $bg-color;
                border-color: $bg-color;
            }
        }
        
        // facet row
        .listOptions {
            .btn, .dropdown-menu > .active > a {
                background: $bg-color;
                border-color: $bg-color;  
                color: $text-color;
            }
            
            button:hover, button:focus {
                background: $highlight-color;
                border-color: $highlight-color;  
            }
        }
        
        // archive menu
        div &.ap-list-filters, .ap-list-filters {
    
            .fa {
                color: $text-color;
            }
            
            a {
                color: inherit;
                text-decoration: none;
            }
        
            button {
                background: $bg-color;
                border-color: $bg-color;  
                color: $text-color;
                
                &:hover, &:focus {
                    background: $highlight-color;
                    border-color: $highlight-color;  
                }
            }
        }
        
        &.ap-list-filterbox {
            
            .ap-list-filter-archive {
                button {
                    background: $bg-color;
                    border-color: $bg-color;  
                    color: $text-color;
                }
            }
            
            li.active {
                font-weight: bold;
            }
        }
            
    }
}

// List and Image gallery spinner animation
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner{
    width: 30px;
    height: auto;
    font-size: 30px;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1000;
    &, a &  {
        color: $white;
    }
    
    left: 50%;
    i {
        animation: spinner 700ms infinite;
        animation-timing-function: steps(4, end);
    }
}

.spinnerInnerBox {
    position: relative;
    left: -150%;
    background-color: black;
    width: 300%;
    padding: 100%;
    border-radius: 12px;
    line-height: 0;
    opacity: 0.65;
}

.spinnerBottom {
    bottom: 80px;
}


//Image gallery image enter animation
.comein {
    transform: translateY(120px);
    animation: come-in 0.8s ease forwards;
    &:nth-child(even) {
        transform: translateY(150px);        
        animation-duration: 1.0s; /* So they look staggered */
    }
}


@keyframes come-in {
  to { transform: translateY(0); }
}


/*Button Groups*/

.btn-group .dropdown-menu > li > a {
   padding: 3px 13px;
}