/* apollo-basics.scss */

/* Basic CSS selectors that can define the default look of various elements 
-----------------------------------------------------------------------------*/

* {
  border-radius: 0;
}

body {
  font-size: 13px;
  line-height: 1.6;
}

body > div[class*=wrapper] {
  background-color: transparent;    
}

p, 
li,
li a,
label { 
   color: $text-paragraphs;
}

a {
	&,
	&:focus, 
	&:hover, 
	&:active {
    color: $main-theme;
	  outline: 0 !important;
	}
}

a, a:focus {
   text-decoration: none;  
}

a:hover {
   text-decoration: underline;
}

button,
button:hover {
   outline: 0 !important;
}

h1 {
  font-size: 28px;
  line-height: 35px;
}
h2 {
  font-size: 24px;
  line-height: 33px;
}
h3 {
  font-size: 20px;
  line-height: 27px;
}
h4 {
  line-height: 25px;
}
h5 {
  line-height: 20px;
}
h6 {
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-headers;
  margin-top: 5px;
  text-shadow: none; 
  font-weight: normal; 
  font-family: "Open Sans", Arial, sans-serif;
} 

hr { 
	margin: 30px 0px; 
}

.wrapper {
  background: #fff;
}