.ap-contact {

    .title, 
    .org, 
    .note, 
    .street-address, 
    .ap-contact-city, 
    .ap-contact-street,
    .ap-contact-phone,
    .ap-contact-mobie,
    .ap-contact-fax {
        // nothing so far
    }

    &.ap-contact-threecol,
    &.ap-contact-onecol {

        margin-bottom: 20px;

        .fn {
            padding-top: 5px;
            margin-top: 0px;
            margin-bottom: 4px;            
        }

        .title {
            font-style: italic;
            margin-bottom: 4px;
        }
    }

    .ap-tablerow {
        display: table-row;

        span {
            padding-right: 5px;
            display: table-cell;
        }
    }

    .fa {
       padding-right: 5px;
       width: 20px;
    }

    .text-box .button-static {
        margin: 5px 0px;
    }
}

