
// Generic CSS selectors that can apply to any DIV or similar block element

$bg-colors:              $all-colors !default;
$font-colors:            $primary-colors !default;
$border-grey:            (grey-lightest, #eee, #eee, #eee);

$margins-paddings:       $spacers !default;
$font-sizes:             (6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 24, 26, 28, 30, 36, 48, 72) !default;
$line-heights:           (5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20) !default;

$headline-linecolor:     $main-theme !default;
$headline-bottom:        1px dotted $grey-light !default; 
$headline-bottom-bg:     1px dotted $grey-light !default; 

$border-default-color:   $main-theme !default;
$border-colors:          $primary-colors !default;
$border-sizes:           (1, 2) !default;
$border-radiuses:        ((0, 0px), (2, 2px), (5, 5px), (10, 10px), (15, 15px), (20, 20px), (30, 30px), (25p, 25%), (50p, 50%)) !default;
$border-positions:       (bottom, top, left, right) !default;
$border-styles:          (none, solid, dotted, dashed, hidden) !default;


// Colored backgrounds

@each $color-name, $bg-color, $text-color, $highlight-color in $bg-colors {

    .bg-#{""+$color-name} {
        
        background-color: $bg-color;
        color: $text-color;         
        overflow: hidden;    
        padding: 20px;  
        
        h1, 
        h2, 
        h3, 
        h4, 
        h5, 
        h6,
        p,
        li,
        .fa {
            color: $text-color;
        }
    
        a {
            color: $text-color;
            text-decoration: underline;
            &.btn,
 			&:hover {
            	text-decoration: none;
            }
        }
        
        .headline {
              border-bottom: $headline-bottom-bg;
        }        
    }
    
    .translucent-bg-#{""+$color-name} {
        @extend .bg-#{""+$color-name};
        
        background-color: rgba($bg-color, 0.7);
    }    
}

// Font and text adjustments

@each $color-name, $bg-color, $text-color, $highlight-color in $font-colors {

    .fc-#{""+$color-name} {
        color: $color-name;
        &.a, p, h2, .fa {
            color: $bg-color;      
        }
    }
}

@each $fontsize in $font-sizes {

    .fs-#{$fontsize} {
        font-size: #{$fontsize}px;
    } 
}

@each $lineheight in $line-heights {

    .lh-#{$lineheight} {
        line-height: #{$lineheight / 10};
    } 
}

@each $align in (left, center, right) {

    .fa-#{$align} {
        text-align: $align;
    }
}

a.no-underline:hover,
a.no-underline {
	text-decoration: none;
}

// Headlines

.headline {
  margin-bottom: 25px;
  border-bottom: $headline-bottom;
}

.headline h2, border
.headline h3, 
.headline h4 {
  display: inline-block;
  margin-bottom: -2px;
  border-bottom: 2px solid $headline-linecolor;
}

// Borders

@each $radius-name, $radius in $border-radiuses {     
   
    .bo-radius-#{""+$radius-name} {
        border: 0 solid;     
        border-radius: $radius;
    }
} 

@each $line-size in $border-sizes {    

    .bo-#{""+$line-size}  {
        border: #{$line-size}px solid $border-default-color;
        padding: 20px;       
    }        
}

@each $color-name, $bg-color, $text-color, $highlight-color in append($border-colors, $border-grey) {

    .bo-#{""+$color-name}  {
        border-color: $bg-color;      
    }    
}

@each $border-style in $border-styles {

    .bo-#{""+$border-style}  {
        border-style: $border-style;    
    }        
}

@each $position in $border-positions {

	@each $line-size in $border-sizes {    
	
	    .bo-#{""+$position}-#{""+$line-size}  {
	        border-#{$position}: #{$line-size}px solid $border-default-color;
	        padding: 20px;       
	    }        
	}  

	@each $color-name, $bg-color, $text-color, $highlight-color in $border-colors {
	
	    .bo-#{""+$position}-#{""+$color-name}  {
	        border-#{$position}-color: $bg-color;      
	    }     
	}
	
	@each $border-style in $border-styles {
	
	    .bo-#{""+$position}-#{""+$border-style}  {
	        border-#{$position}-style: $border-style;    
	    }        
	}
}

// Block display settings

.disp-i {
    display: inline;
}

.disp-ib {
    display: inline-block;
}

.disp-b {
    display: block;
}

// Shadows

.ap-shadow {
    box-shadow: 0 10px 6px -6px #bbb;
    -moz-box-shadow: 0 10px 6px -6px #bbb;
    -webkit-box-shadow: 0 10px 6px -6px #bbb;
}


// Margins and paddings

@each $space in $margins-paddings {

    .p-#{$space} {
        padding: #{$space}px;
    }
    .pv-#{$space} {
        padding-top: #{$space}px;
        padding-bottom: #{$space}px;
    }   
    .ph-#{$space} {
        padding-left: #{$space}px;
        padding-right: #{$space}px;
    }
	.pl-#{$space} {
	    padding-left: #{$space}px;
	}
    .pr-#{$space} {
        padding-right: #{$space}px;
    }
    .pt-#{$space} {
        padding-top: #{$space}px;
    }       
    .pb-#{$space} {
        padding-bottom: #{$space}px;
    }    
    .m-#{$space} {
        margin: #{$space}px;
    }  
    .mv-#{$space} {
        margin-top: #{$space}px;
        margin-bottom: #{$space}px;
    }	
    .mh-#{$space} {
        margin-left: #{$space}px;
        margin-right: #{$space}px;
    }   
    .ml-#{$space} {
        margin-left: #{$space}px;
    }
    .mr-#{$space} {
        margin-right: #{$space}px;
    }       
	.mt-#{$space} {
	    margin-top: #{$space}px;
	}    	
    .mb-#{$space} {
        margin-bottom: #{$space}px;
    }
}
