
body > div[class*=wrapper] {
    background-color: transparent;    
}

.header .mega-menu {
    div.dropdown-menu {
        width: 100%;
        position: absolute;
        left: 0;
    }
    
    div.dropdown-megamenu {
        padding: 15px 15px 0 15px;
    }
    
    li a {
        border-bottom: 0;
    }
}

#page-complete-megamenu .dropdown-menu.dropdown-megamenu {
    display: inherit;
}